.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: black;
    color: white;

    &__logo {
        width: 100px;
        height: 40px;
        border: 2px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__list {
        &__ul {
            display: flex;
            list-style: none;
            gap: 40px;
        }
    }
    &__menu{
        display: none;
    }
}